@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #fff;
	font-size: 20px;
	line-height: 1.24;
	color: #1d1c1d;
}

ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 50px;
}

/* Header */

.header {
	padding: 0 24px;
	width: 100%;
	position: absolute;
	top: 24px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
}

a.header__menu-link.active {
	color: #64099b;
}

.header__container {
	max-width: 1352px;
	backdrop-filter: blur(60px);
	background: rgba(108, 185, 171, 0.7);
	padding: 12px 26px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo-link,
.footer__logo-link {
	font-size: 0;
}

.header__menu,
.footer__menu {
	display: flex;
	align-items: center;
	gap: 50px;
}

.header__menu-item,
.footer__menu-item {
	transition: color 0.2s ease-in;
}

.header__menu-item:hover {
	color: #64099b;
}

.header__cart-link {
	width: 28px;
	height: 28px;
	color: #64099b;
	font-size: 12px;
	background-image: url('./img/bag.svg');
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 10px 4px 3px;
}

/* Promo */

.promo {
	background-color: #6cb9ab;
	color: #fff;
}

.promo__container {
	padding-top: 210px;
	padding-bottom: 80px;
	background-image: url('./img/bg-img.png');
	background-repeat: no-repeat;
	background-position: right 113px bottom 0px;
}

.promo__title {
	margin-top: 0;
	margin-bottom: 60px;

	font-weight: 400;
	font-size: 88px;
	line-height: 1.1;
	max-width: 800px;
}

.promo__link {
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 16px 24px;
}

/* Products */

.products {
	padding: 100px 0;
}

.products__title {
	margin-top: 0;
	margin-bottom: 32px;

	font-weight: 400;
	font-size: 54px;
	line-height: 1.1;
	color: #64099b;
}

.products__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

/* Product */

.product {
	font-size: 0;
	background: #f2f9f7;
	min-height: 600px;
	height: 100%;
	display: flex;
	flex-direction: column;
	color: #1d1c1d;
}

.product__img {
	width: 100%;
}

.product__content {
	flex-grow: 1;
	padding: 40px 24px 24px;

	display: flex;
	flex-direction: column;
}

.product__title {
	flex-grow: 1;
	font-weight: 400;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 4px;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.product__price {
	margin: 0;
	font-size: 20px;
}

/* Footer */

.footer {
	padding: 60px 0;
	background-color: #6cb9ab;
	color: #fff;
}

.footer__container {
	display: grid;
	gap: 38px;
	grid-template-columns: repeat(2, max-content);
	align-items: center;
	justify-content: space-between;
}

/* .footer__menu-item {
}
*/

.footer__menu-link {
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;

	transition: color 0.2s ease-in;
}

.footer__menu-link:hover {
	color: #64099b;
}

.footer__info {
	width: 254px;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.24;
	color: #fff;
}

.footer__copyright {
	margin-top: 0;
	margin-bottom: 17px;
}

.footer__description {
	margin-top: 0;
	margin-bottom: 3px;
}

.footer__developer {
	margin-bottom: 3px;
}

.footer__developer:last-child {
	margin-bottom: 0;
}

.footer__developer-link {
	transition: color 0.2s ease-in;
}

.footer__developer-link:hover {
	color: #64099b;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer__email {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 16px;
}

.footer__social {
	display: flex;
	gap: 12px;
	height: 32px;
}

@media (max-width: 1240px) {
	.container {
		padding: 0px 42px;
	}

	.header {
		padding: 0 24px;
		top: 20px;
	}

	.header__container {
		padding: 12px 22px;
	}

	.promo__container {
		padding-top: 172px;
		padding-bottom: 60px;
		background-image: url('./img/bg-img-1024.png');
		background-position: right 48px bottom 0;
	}

	.promo__title {
		font-size: 70px;
		margin-bottom: 40px;
		max-width: 620px;
	}

	.product {
		min-height: 450px;
	}

	.product__content {
		padding: 24px;
	}

	.footer__menu {
		gap: 32px;
	}
}

@media (max-width: 940px) {
	.header__logo-link {
		width: 78px;
	}

	.header__menu {
		gap: 24px;
	}

	.header__menu-link {
		font-size: 16px;
	}

	.promo__container {
		padding-top: 157px;
		background-position: right bottom;
		background-size: 203px;
	}

	.promo__title {
		font-size: 54px;
		max-width: 460px;
	}

	.promo__link {
		padding: 12px 18px;
		font-size: 16px;
	}

	.products {
		padding: 80px 0;
	}

	.products__title {
		font-size: 36px;
		margin-bottom: 24px;
	}

	.products__list {
		grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
		gap: 16px;
	}

	.product {
		min-height: 360px;
	}

	.product__title {
		font-size: 20px;
		text-wrap: balance;
	}

	.product__price {
		font-size: 16px;
	}

	.footer {
		padding: 40px 0;
	}

	.footer__menu {
		gap: 24px;
	}

	.footer__menu-link {
		font-size: 16px;
	}

	.footer__info {
		font-size: 12px;
	}

	.footer__email {
		font-size: 16px;
		margin-bottom: 12px;
	}
}

@media (max-width: 660px) {
	.container {
		padding: 0 16px;
		width: 100%;
	}

	.header {
		padding: 0;
		top: 0;
	}

	.header__container {
		padding: 8px 16px;
		max-width: 320px;
	}

	.header__menu {
		display: none;
	}

	.promo__container {
		padding-top: 20px;
		/* display: flex;
		flex-direction: column;
		row-gap: 20px; */
		background-image: url('./img/bg-img-320.png');
		background-position: center bottom 20px;
		background-size: 145px;
	}

	.promo__title {
		font-size: 40px;
		max-width: 288px;
		margin-bottom: 20px;
	}

	.products {
		padding: 60px 0;
	}

	.products__list {
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
		gap: 8px;
	}

	.product__content {
		padding: 16px 8px;
	}

	.product__title {
		font-size: 16px;
	}

	.footer__container {
		grid-template-columns: 1fr;
	}

	.footer__menu {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}

	.footer__info {
		order: 1;
	}

	.footer__copyright {
		margin-bottom: 12px;
	}
}
